service rt2x00lib_insmod /system/bin/insmod /system/lib/modules/rt2x00lib.ko
    class core
    user root
    group root
    disabled
    oneshot

service rt2x00usb_insmod /system/bin/insmod /system/lib/modules/rt2x00usb.ko
    class core
    user root
    group root
    disabled
    oneshot

service rt2800lib_insmod /system/bin/insmod /system/lib/modules/rt2800lib.ko
    class core
    user root
    group root
    disabled
    oneshot

service rt2800usb_insmod /system/bin/insmod /system/lib/modules/rt2800usb.ko
    class core
    user root
    group root
    disabled
    oneshot

on property:init.svc.rt2x00lib_insmod=stopped
    start rt2x00usb_insmod

on property:init.svc.rt2x00usb_insmod=stopped
    start rt2800lib_insmod

on property:init.svc.rt2800lib_insmod=stopped
    start rt2800usb_insmod


service rt2800usb_rmmod /system/bin/rmmod rt2800usb
    class core
    user root
    group root
    disabled
    oneshot

service rt2800lib_rmmod /system/bin/rmmod rt2800lib
    class core
    user root
    group root
    disabled
    oneshot

service rt2x00usb_rmmod /system/bin/rmmod rt2x00usb
    class core
    user root
    group root
    disabled
    oneshot

service rt2x00lib_rmmod /system/bin/rmmod rt2x00lib
    class core
    user root
    group root
    disabled
    oneshot

on property:init.svc.rt2800usb_rmmod=stopped
    start rt2800lib_rmmod

on property:init.svc.rt2800lib_rmmod=stopped
    start rt2x00usb_rmmod

on property:init.svc.rt2x00usb_rmmod=stopped
    start rt2x00lib_rmmod
